.library_name {
    margin-left: 10px;
    display: inline-block;
    font-size: 26px;
}

hr {
    border: 1px solid #404a57;
    width: 100%;
    margin-left: 0px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.no_playlist {
    margin-top: 40px;
}

.inline {
    display: inline-block;
    margin-left: 770px;
}

/*---------------------------------------Create Playlist Form------------------------------------------------*/

#createPlaylistForm {
    display: none;
    width: 600px;
    height: 580px;
    background: azure;
    border-radius: 8px;
    border: #206874 solid 3px;
    z-index: 1;
    position: absolute;
    margin-left: 230px;
    margin-top: -55px;
}

#create_playlist_btn {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
}

#closeForm_btn {
    position: absolute;
    right: 2px;
    top: 2px;
    opacity: 0.87;
    width: 36px;
    height: 36px;
}

.formHeading {
    padding-top: 3px;
    margin: auto;
    width: 30%;
    font: 24px 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.videosBlock {
    overflow-y: scroll;
    height: 370px;
    width: 554px;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    background: #f2ffce;
    border: #206874 solid 2px;
}

.chooseVideosHeader {
    color: #070717;
    margin-top: 15px;
    margin-left: 22px;
    font: 20px 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.inner_create_playlist_btn {
    position:absolute;
    bottom: 10px;
    right: 45%;
    margin-left:-150px;
}

.video_mini_block {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 145px;
    border: #206874 solid 2px;
    margin: 20px;
    background: azure;
}